In [1]:
import pyspark
from pyspark.sql import SparkSession

In [2]:
spark = SparkSession.builder \
    .master("local[*]") \
    .appName('test') \
    .getOrCreate()

Setting default log level to "WARN".
To adjust logging level use sc.setLogLevel(newLevel). For SparkR, use setLogLevel(newLevel).

25/03/08 13:51:52 WARN NativeCodeLoader: Unable to load native-hadoop library for your platform... using builtin-java classes where applicable

In [3]:
pyspark.__version__

'3.3.2'

In [4]:
df = spark.read \
    .option("header", "true") \
    .parquet("/home/dpeter/data-engineering-zoomcamp/05-batch/code/module_05_homework/yellow_tripdata_2024-10.parquet")

In [5]:
output_path = "/home/dpeter/data-engineering-zoomcamp/05-batch/code/module_05_homework/output"

df \
    .repartition(4) \
    .write \
    .mode("overwrite") \
    .parquet(output_path)

In [6]:
df.registerTempTable('df_sql')

/home/dpeter/spark/spark-3.3.2-bin-hadoop3/python/pyspark/sql/dataframe.py:229: FutureWarning: Deprecated in 2.0, use createOrReplaceTempView instead.
  warnings.warn("Deprecated in 2.0, use createOrReplaceTempView instead.", FutureWarning)

In [7]:
df_table = spark.sql(""" 
                    SELECT * FROM df_sql""")
df_table.show()

+--------+--------------------+---------------------+---------------+-------------+----------+------------------+------------+------------+------------+-----------+-----+-------+----------+------------+---------------------+------------+--------------------+-----------+
|VendorID|tpep_pickup_datetime|tpep_dropoff_datetime|passenger_count|trip_distance|RatecodeID|store_and_fwd_flag|PULocationID|DOLocationID|payment_type|fare_amount|extra|mta_tax|tip_amount|tolls_amount|improvement_surcharge|total_amount|congestion_surcharge|Airport_fee|
+--------+--------------------+---------------------+---------------+-------------+----------+------------------+------------+------------+------------+-----------+-----+-------+----------+------------+---------------------+------------+--------------------+-----------+
|       2| 2024-10-01 00:30:44|  2024-10-01 00:48:26|              1|          3.0|         1|                 N|         162|         246|           1|       18.4|  1.0|    0.5|       1.5|         0.0|                  1.0|        24.9|                 2.5|        0.0|
|       1| 2024-10-01 00:12:20|  2024-10-01 00:25:25|              1|          2.2|         1|                 N|          48|         236|           1|       14.2|  3.5|    0.5|       3.8|         0.0|                  1.0|        23.0|                 2.5|        0.0|
|       1| 2024-10-01 00:04:46|  2024-10-01 00:13:52|              1|          2.7|         1|                 N|         142|          24|           1|       13.5|  3.5|    0.5|       3.7|         0.0|                  1.0|        22.2|                 2.5|        0.0|
|       1| 2024-10-01 00:12:10|  2024-10-01 00:23:01|              1|          3.1|         1|                 N|         233|          75|           1|       14.2|  3.5|    0.5|       2.0|         0.0|                  1.0|        21.2|                 2.5|        0.0|
|       1| 2024-10-01 00:30:22|  2024-10-01 00:30:39|              1|          0.0|         1|                 N|         262|         262|           3|        3.0|  3.5|    0.5|       0.0|         0.0|                  1.0|         8.0|                 2.5|        0.0|
|       2| 2024-10-01 00:31:20|  2024-10-01 00:36:00|              2|         0.97|         1|                 N|         137|         137|           1|        7.2|  1.0|    0.5|      2.44|         0.0|                  1.0|       14.64|                 2.5|        0.0|
|       1| 2024-10-01 00:42:57|  2024-10-01 00:49:01|              1|          1.3|         1|                 N|         142|          48|           1|        7.9|  3.5|    0.5|      2.55|         0.0|                  1.0|       15.45|                 2.5|        0.0|
|       1| 2024-10-01 00:59:55|  2024-10-01 01:02:24|              1|          0.5|         1|                 N|         230|         161|           1|        5.1|  3.5|    0.5|       2.0|         0.0|                  1.0|        12.1|                 2.5|        0.0|
|       1| 2024-10-01 00:00:47|  2024-10-01 00:04:22|              0|          1.1|         1|                 N|         142|         237|           1|        7.2|  3.5|    0.5|       3.0|         0.0|                  1.0|        15.2|                 2.5|        0.0|
|       1| 2024-10-01 00:17:36|  2024-10-01 00:26:22|              1|          2.2|         1|                 N|         162|         145|           1|       11.4|  3.5|    0.5|       3.3|         0.0|                  1.0|        19.7|                 2.5|        0.0|
|       1| 2024-10-01 00:49:00|  2024-10-01 00:52:20|              1|          0.6|         1|                 N|         229|         162|           1|        5.1|  3.5|    0.5|       2.0|         0.0|                  1.0|        12.1|                 2.5|        0.0|
|       2| 2024-10-01 00:07:26|  2024-10-01 00:13:20|              1|          0.9|         1|                 N|         162|         162|           1|        7.9|  1.0|    0.5|      3.87|         0.0|                  1.0|       16.77|                 2.5|        0.0|
|       2| 2024-10-01 00:17:11|  2024-10-01 00:25:00|              1|         1.33|         1|                 N|         162|         230|           1|        9.3|  1.0|    0.5|       2.0|         0.0|                  1.0|        16.3|                 2.5|        0.0|
|       2| 2024-10-01 00:00:34|  2024-10-01 00:05:13|              1|         1.79|         1|                 N|         211|         234|           1|        9.3|  1.0|    0.5|      2.86|         0.0|                  1.0|       17.16|                 2.5|        0.0|
|       2| 2024-09-30 23:58:40|  2024-10-01 00:20:26|              1|         5.16|         1|                 N|         142|           7|           1|       24.7|  1.0|    0.5|       0.0|         0.0|                  1.0|        29.7|                 2.5|        0.0|
|       1| 2024-10-01 00:55:29|  2024-10-01 01:42:35|              1|         11.3|        99|                 N|         161|         197|           1|       39.5|  0.0|    0.5|       0.0|        6.94|                  1.0|       47.94|                 0.0|        0.0|
|       1| 2024-10-01 00:08:59|  2024-10-01 00:40:58|              1|         20.6|         1|                 N|         132|         243|           2|       76.5| 2.75|    0.5|       0.0|        6.94|                  1.0|       87.69|                 0.0|       1.75|
|       2| 2024-10-01 00:18:38|  2024-10-01 00:36:47|              2|         7.42|         1|                 N|         239|         247|           4|      -33.1| -1.0|   -0.5|       0.0|         0.0|                 -1.0|       -38.1|                -2.5|        0.0|
|       2| 2024-10-01 00:18:38|  2024-10-01 00:36:47|              2|         7.42|         1|                 N|         239|         247|           4|       33.1|  1.0|    0.5|       0.0|         0.0|                  1.0|        38.1|                 2.5|        0.0|
|       2| 2024-10-01 00:39:33|  2024-10-01 00:53:59|              1|         4.49|         1|                 N|         247|          60|           2|       21.9|  1.0|    0.5|       0.0|         0.0|                  1.0|        24.4|                 0.0|        0.0|
+--------+--------------------+---------------------+---------------+-------------+----------+------------------+------------+------------+------------+-----------+-----+-------+----------+------------+---------------------+------------+--------------------+-----------+
only showing top 20 rows

In [8]:
df.columns

['VendorID',
 'tpep_pickup_datetime',
 'tpep_dropoff_datetime',
 'passenger_count',
 'trip_distance',
 'RatecodeID',
 'store_and_fwd_flag',
 'PULocationID',
 'DOLocationID',
 'payment_type',
 'fare_amount',
 'extra',
 'mta_tax',
 'tip_amount',
 'tolls_amount',
 'improvement_surcharge',
 'total_amount',
 'congestion_surcharge',
 'Airport_fee']

In [10]:
df_question_3 = spark.sql("""
    SELECT COUNT(*)
    FROM df_sql
    WHERE date_format(tpep_pickup_datetime, 'yyyy-MM-dd') = '2024-10-15'
""") 
df_question_3.show()

+--------+
|count(1)|
+--------+
|  128893|
+--------+

In [10]:
df_question_4 = spark.sql("""
    SELECT 
           (unix_timestamp(tpep_dropoff_datetime) - unix_timestamp(tpep_pickup_datetime)) / 3600 AS trip_duration_hours
    FROM 
        df_sql
    ORDER BY 
        trip_duration_hours DESC
    LIMIT 1
""")


df_question_4.show()

+-------------------+
|trip_duration_hours|
+-------------------+
| 162.61777777777777|
+-------------------+

In [17]:
csv_path = "/home/dpeter/data-engineering-zoomcamp/05-batch/code/module_05_homework/taxi_zone_lookup.csv"
taxi_zone_df = spark.read.csv(csv_path, header=True, inferSchema=True)
taxi_zone_df.createOrReplaceTempView("taxi_zone_lookup")
taxi_zone_df.show(100)

+----------+-------------+--------------------+------------+
|LocationID|      Borough|                Zone|service_zone|
+----------+-------------+--------------------+------------+
|         1|          EWR|      Newark Airport|         EWR|
|         2|       Queens|         Jamaica Bay|   Boro Zone|
|         3|        Bronx|Allerton/Pelham G...|   Boro Zone|
|         4|    Manhattan|       Alphabet City| Yellow Zone|
|         5|Staten Island|       Arden Heights|   Boro Zone|
|         6|Staten Island|Arrochar/Fort Wad...|   Boro Zone|
|         7|       Queens|             Astoria|   Boro Zone|
|         8|       Queens|        Astoria Park|   Boro Zone|
|         9|       Queens|          Auburndale|   Boro Zone|
|        10|       Queens|        Baisley Park|   Boro Zone|
|        11|     Brooklyn|          Bath Beach|   Boro Zone|
|        12|    Manhattan|        Battery Park| Yellow Zone|
|        13|    Manhattan|   Battery Park City| Yellow Zone|
|        14|     Brooklyn|           Bay Ridge|   Boro Zone|
|        15|       Queens|Bay Terrace/Fort ...|   Boro Zone|
|        16|       Queens|             Bayside|   Boro Zone|
|        17|     Brooklyn|             Bedford|   Boro Zone|
|        18|        Bronx|        Bedford Park|   Boro Zone|
|        19|       Queens|           Bellerose|   Boro Zone|
|        20|        Bronx|             Belmont|   Boro Zone|
|        21|     Brooklyn|    Bensonhurst East|   Boro Zone|
|        22|     Brooklyn|    Bensonhurst West|   Boro Zone|
|        23|Staten Island|Bloomfield/Emerso...|   Boro Zone|
|        24|    Manhattan|        Bloomingdale| Yellow Zone|
|        25|     Brooklyn|         Boerum Hill|   Boro Zone|
|        26|     Brooklyn|        Borough Park|   Boro Zone|
|        27|       Queens|Breezy Point/Fort...|   Boro Zone|
|        28|       Queens|Briarwood/Jamaica...|   Boro Zone|
|        29|     Brooklyn|      Brighton Beach|   Boro Zone|
|        30|       Queens|       Broad Channel|   Boro Zone|
|        31|        Bronx|          Bronx Park|   Boro Zone|
|        32|        Bronx|           Bronxdale|   Boro Zone|
|        33|     Brooklyn|    Brooklyn Heights|   Boro Zone|
|        34|     Brooklyn|  Brooklyn Navy Yard|   Boro Zone|
|        35|     Brooklyn|         Brownsville|   Boro Zone|
|        36|     Brooklyn|      Bushwick North|   Boro Zone|
|        37|     Brooklyn|      Bushwick South|   Boro Zone|
|        38|       Queens|     Cambria Heights|   Boro Zone|
|        39|     Brooklyn|            Canarsie|   Boro Zone|
|        40|     Brooklyn|     Carroll Gardens|   Boro Zone|
|        41|    Manhattan|      Central Harlem|   Boro Zone|
|        42|    Manhattan|Central Harlem North|   Boro Zone|
|        43|    Manhattan|        Central Park| Yellow Zone|
|        44|Staten Island|Charleston/Totten...|   Boro Zone|
|        45|    Manhattan|           Chinatown| Yellow Zone|
|        46|        Bronx|         City Island|   Boro Zone|
|        47|        Bronx|  Claremont/Bathgate|   Boro Zone|
|        48|    Manhattan|        Clinton East| Yellow Zone|
|        49|     Brooklyn|        Clinton Hill|   Boro Zone|
|        50|    Manhattan|        Clinton West| Yellow Zone|
|        51|        Bronx|          Co-Op City|   Boro Zone|
|        52|     Brooklyn|         Cobble Hill|   Boro Zone|
|        53|       Queens|       College Point|   Boro Zone|
|        54|     Brooklyn|     Columbia Street|   Boro Zone|
|        55|     Brooklyn|        Coney Island|   Boro Zone|
|        56|       Queens|              Corona|   Boro Zone|
|        57|       Queens|              Corona|   Boro Zone|
|        58|        Bronx|        Country Club|   Boro Zone|
|        59|        Bronx|        Crotona Park|   Boro Zone|
|        60|        Bronx|   Crotona Park East|   Boro Zone|
|        61|     Brooklyn| Crown Heights North|   Boro Zone|
|        62|     Brooklyn| Crown Heights South|   Boro Zone|
|        63|     Brooklyn|       Cypress Hills|   Boro Zone|
|        64|       Queens|          Douglaston|   Boro Zone|
|        65|     Brooklyn|Downtown Brooklyn...|   Boro Zone|
|        66|     Brooklyn|  DUMBO/Vinegar Hill|   Boro Zone|
|        67|     Brooklyn|       Dyker Heights|   Boro Zone|
|        68|    Manhattan|        East Chelsea| Yellow Zone|
|        69|        Bronx|East Concourse/Co...|   Boro Zone|
|        70|       Queens|       East Elmhurst|   Boro Zone|
|        71|     Brooklyn|East Flatbush/Far...|   Boro Zone|
|        72|     Brooklyn|East Flatbush/Rem...|   Boro Zone|
|        73|       Queens|       East Flushing|   Boro Zone|
|        74|    Manhattan|   East Harlem North|   Boro Zone|
|        75|    Manhattan|   East Harlem South|   Boro Zone|
|        76|     Brooklyn|       East New York|   Boro Zone|
|        77|     Brooklyn|East New York/Pen...|   Boro Zone|
|        78|        Bronx|        East Tremont|   Boro Zone|
|        79|    Manhattan|        East Village| Yellow Zone|
|        80|     Brooklyn|   East Williamsburg|   Boro Zone|
|        81|        Bronx|         Eastchester|   Boro Zone|
|        82|       Queens|            Elmhurst|   Boro Zone|
|        83|       Queens|    Elmhurst/Maspeth|   Boro Zone|
|        84|Staten Island|Eltingville/Annad...|   Boro Zone|
|        85|     Brooklyn|             Erasmus|   Boro Zone|
|        86|       Queens|        Far Rockaway|   Boro Zone|
|        87|    Manhattan|Financial Distric...| Yellow Zone|
|        88|    Manhattan|Financial Distric...| Yellow Zone|
|        89|     Brooklyn|Flatbush/Ditmas Park|   Boro Zone|
|        90|    Manhattan|            Flatiron| Yellow Zone|
|        91|     Brooklyn|           Flatlands|   Boro Zone|
|        92|       Queens|            Flushing|   Boro Zone|
|        93|       Queens|Flushing Meadows-...|   Boro Zone|
|        94|        Bronx|       Fordham South|   Boro Zone|
|        95|       Queens|        Forest Hills|   Boro Zone|
|        96|       Queens|Forest Park/Highl...|   Boro Zone|
|        97|     Brooklyn|         Fort Greene|   Boro Zone|
|        98|       Queens|       Fresh Meadows|   Boro Zone|
|        99|Staten Island|     Freshkills Park|   Boro Zone|
|       100|    Manhattan|    Garment District| Yellow Zone|
+----------+-------------+--------------------+------------+
only showing top 100 rows

In [18]:
df_question_6 = spark.sql("""
    SELECT 
           PULocationID AS pickup_location_id,
            Zone AS pickup_location,
           COUNT(*)
    FROM 
        df_sql
    INNER JOIN
        taxi_zone_lookup
    ON
        df_sql.PULocationID = taxi_zone_lookup.LocationID
    GROUP BY
        1,2
    ORDER BY
        3 
""")
df_question_6.show()

+------------------+--------------------+--------+
|pickup_location_id|     pickup_location|count(1)|
+------------------+--------------------+--------+
|               105|Governor's Island...|       1|
|               199|       Rikers Island|       2|
|                 5|       Arden Heights|       2|
|                 2|         Jamaica Bay|       3|
|               111| Green-Wood Cemetery|       3|
|               204|   Rossville/Woodrow|       4|
|               187|       Port Richmond|       4|
|               245|       West Brighton|       4|
|                44|Charleston/Totten...|       4|
|                84|Eltingville/Annad...|       4|
|               109|         Great Kills|       6|
|                59|        Crotona Park|       6|
|               156|     Mariners Harbor|       7|
|               118|Heartland Village...|       7|
|               176|             Oakwood|       9|
|               206|Saint George/New ...|       9|
|                30|       Broad Channel|      10|
|               172|New Dorp/Midland ...|      10|
|               184|     Pelham Bay Park|      12|
|               251|         Westerleigh|      12|
+------------------+--------------------+--------+
only showing top 20 rows